{% set categories = __SELF__.categories %}

{% if categories.count %}
    <div class="categories row row-cols-1 g-4 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
        {% for category in categories %}
            <div class="category col">
                <div class="d-flex flex-column gap-3 position-relative">
                    <a href="{{ category.url }}" class="transition rounded-3 overflow-hidden">
                        {% if category.image %}
                            <p class="img mb-0 position-relative">
                                <img src="{{ category.image.thumb(600, 400, {"mode": "crop"}) }}" alt="{{ category.image.description }}" class="img-fluid w-100">

                                <span class="gradient position-absolute start-0 top-0 w-100 h-100"></span>
                            </p>
                        {% endif %}

                        <h3 class="title position-absolute start-0 bottom-0 fs-20 m-4 ls-n03 text-white transition">
                            {{ category.title }}
                        </h3>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
