{% for item in items %}
    {% if not item.viewBag.isHidden %}
        <li class="nav-item {{ item.viewBag.cssClass }}">
            {% if item.url %}
                <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} class="nav-link text-white fs-13 fw-semibold opacity-100 opacity-65-hover transition d-inline-flex align-items-center text-uppercase {{ item.isActive ? 'active opacity-100' : '' }} {{ item.isChildActive ? 'active opacity-100' : '' }}">
                    <span class="mi-caret-right mi-10 bg-white me-1"></span> {{ item.title }} <span class="mi-arrow-square-out mi-16 bg-white ms-2"></span>
                </a>
            {% else %}
                <span>{{ item.title }}</span>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
