{% set posts = __SELF__.posts %}

<div class="posts row row-cols-1 gy-5 gx-4 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gx-xxl-5">
    {% for post in posts %}
        {% partial "posts/sm" post=post %}
    {% endfor %}
</div>

{% if posts.lastPage > 1 %}
    <ul class="pagination mt-5 justify-content-center gap-2 mb-0">
        {% if posts.currentPage > 1 %}
            <li class="page-item prev d-inline-flex align-items-center">
                <a href="{{ this.page.baseFileName|page({page: (posts.currentPage-1)}) }}" class="page-page-link mi-caret-left mi-16 bg-secondary bg-primary-hover transition"></a>
            </li>
        {% endif %}

        {% if posts.currentPage <= 3 %}
            {% set start_page = 1 %}
            {% set end_page = posts.lastPage > 5 ? 5 : posts.lastPage %}
        {% elseif posts.currentPage > 3 and posts.currentPage + 4 < posts.lastPage %}
            {% set start_page = posts.currentPage - 2 %}
            {% set end_page = posts.lastPage > posts.currentPage + 2 ? posts.currentPage + 2 : posts.lastPage %}
        {% elseif posts.currentPage + 4 >= posts.lastPage %}
            {% set start_page = posts.lastPage - 4 %}
            {% set end_page = posts.lastPage %}
        {% endif %}

        {% for page in start_page..end_page %}
            <li class="page-item">
                <a href="{{ this.page.baseFileName|page({page: page}) }}" class="page-link {{ posts.currentPage == page ? 'active' : null }}">
                    {{ page }}
                </a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li class="page-item next d-inline-flex align-items-center">
                <a href="{{ this.page.baseFileName|page({page: (posts.currentPage+1)}) }}" class="page-link mi-caret-right mi-16 bg-secondary bg-primary-hover transition"></a>
            </li>
        {% endif %}
    </ul>
{% endif %}
