{% set categories = __SELF__.categories %}

{% if categories.count %}
    <div class="categories row row-cols-1 g-3 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
        {% for category in categories %}
            <div class="category col">
                <a href="{{ category.url }}" class="d-flex align-items-center border border-1 border-gray-dark p-2 rounded-3 text-decoration-none transition">
                    {% if category.image %}
                        <span class="img me-3">
                            <img src="{{ category.image.thumb(40, 40, {"mode": "crop"}) }}" alt="{{ category.image.description }}" class="img-fluid w-100">
                        </span>
                    {% endif %}

                    <span class="title fs-13 fw-medium ls-n02 text-secondary transition lh-19 me-3">
                        {{ category.title }}
                    </span>

                    <span class="mi mi-caret-right mi-12 bg-secondary ms-auto"></span>
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}
