{% set files = __SELF__.files %}

{% if files %}
    {% set types = {
        "application/pdf": "pdf",
        "application/msword": "doc",
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "xlsx"
    } %}

    <ul>
        {% for file in files %}
            <li>
                <a href="{{ file.file.path }}" target="_blank" class="d-inline-flex">
                    {{ file.name }}
                </a>

                {% if file.description %}
                    - {{ file.description }}
                {% endif %}

                <span class="text-tertiary-55">
                    ({{ file.file.file_size|filesize }}, {{ types[file.file.content_type] }})
                </span>
            </li>
        {% endfor %}
    </ul>
{% endif %}
