url = "/akce/:slug"
layout = "default"
title = "Položka akce"

[section item]
handle = "Campaigns\Item"
identifier = "slug"
value = "{{ :slug }}"

[products]
page = "produkt"
categoryPage = "kategorie"

[categories subcategories]
page = "kategorie"
==
{% set items = {
    "akce": {
        "title" : "Akce",
        "url"   : "akce"|page,
    },
    "polozka": {
        "title" : item.title,
        "active": true,
    }
} %}

{% set categoryIds = [] %}

{% for category in item.categories %}
    {% set categoryIds = categoryIds|merge([category.category_id]) %}
{% endfor %}

{% set productIds = [] %}

{% for product in item.products %}
    {% set productIds = productIds|merge([product.product_id]) %}
{% endfor %}

{% partial "breadcrumb" items=items %}

<div class="container-fluid pb-5" id="campaign">
    <div class="container-lg py-xl-4">
        <h1 class="mb-4 mb-xl-5 col-xl-10 offset-xl-1">
            {{ item.title }}
        </h1>

        <div class="border-1 border-top border-tertiary border-opacity-07 mt-32 pt-32" id="subcategories">
            <h2 class="fs-20 ls-n02 mb-4">
                Kategorie
            </h2>

            {% component "subcategories" ids=categoryIds %}
        </div>

        <div class="mt-5 pt-xl-3">
            {% component "products" ids=productIds %}
        </div>

{#        {% if first_image %}#}
{#            <p class="img mb4 mb-xl-5">#}
{#                <img src="{{ first_image.thumb(1278, 640, {"mode": "crop"}) }}" alt="{{ first_image.description }}" class="img-fluid w-100 rounded-4">#}
{#            </p>#}
{#        {% endif %}#}

{#        {% if post.content %}#}
{#            <div class="post-content">#}
{#                {{ post.content|raw }}#}
{#            </div>#}
{#        {% endif %}#}
    </div>
</div>
