url = "/"
layout = "default"
title = "Úvod"

[collection slides]
handle = "Slider\Slide"

[categories categorieshp]
page = "produkty"

[collection contacts_categories]
handle = "Contacts\Category"

[collection merchandise_places]
handle = "Merchandise\Place"

[collection videos]
handle = "Videos\Video"

[blogPosts postshp]
pageNumber = "{{ :page }}"
categoryFilter = "aktuality"
postsPerPage = 5
noPostsMessage = "Nenalezeny žádné příspěvky"
sortOrder = "published_at desc"
categoryPage = "homepage"
postPage = "aktualita"
==
{% if slides.getIterator().count %}
    <div class="swiper slider-swiper">
        <div class="swiper-wrapper">
            {% for slide in slides %}
                <div class="swiper-slide">
                    {% if slide.link %}
                        <a href="{{ slide.link }}">
                    {% endif %}
                            <picture>
                                <source media="(min-width:768px)" srcset="{{ slide.image_lg.thumb(1920, 550, {"mode": "crop"}) }}">

                                <img src="{{ slide.image_sm.thumb(640, 640, {"mode": "crop"}) }}" alt="{{ slide.image_sm.description }}" class="img-fluid w-100">
                            </picture>
                    {% if slide.link %}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="swiper-button-next rounded-circle transition">
            <span></span>
        </div>

        <div class="swiper-button-prev rounded-circle transition">
            <span></span>
        </div>
    </div>
{% endif %}

<div class="container-fluid py-5 bg-gray-light" id="categories">
    <div class="container-lg py-xl-4">
        <h2 class="text-center mb-4 mb-xl-5">
            Sortiment
        </h2>

        {% component "categorieshp" %}
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container-lg py-xl-4">
        <h2 class="text-center mb-4 mb-xl-5">
            Kontakty
        </h2>

        <div class="row row-cols-1 g-4 row-cols-sm-2 row-cols-md-3 g-lg-5 row-cols-xl-4">
            {% for category in contacts_categories.where("homepage", true).get() %}
                <div class="col">
                    <div class="p-4 rounded-3 {{ loop.first ? "bg-gray" }}">
                        {% partial "contact" contact=category %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% partial "map" %}

<div class="container-fluid py-5">
    <div class="container-lg pt-xl-4">
        <h2 class="mb-4 mb-xl-5">
            Videa
        </h2>
    </div>

    <div class="swiper videos-swiper pb-xl-4">
        <div class="swiper-wrapper">
            {% for video in videos.take(8).get() %}
                <div class="swiper-slide">
                    {% partial "video" video=video %}
                </div>
            {% endfor %}
        </div>

        <div class="container-lg">
            <div class="swiper-scrollbar position-relative start-0 end-0 w-100 bottom-0 mt-4 mt-xl-5"></div>

            <div class="mt-4 mt-xl-5 text-center">
                <a href="{{ 'videa'|page }}" class="btn btn-outline-secondary d-inline-flex align-items-center">
                    Další videa <span class="mi-arrow-right mi-16 bg-secondary ms-2 transition"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5 bg-gray-light">
    <div class="container-lg py-xl-4">
        <h2 class="mb-4 mb-xl-5">
            Aktuality
        </h2>

        {% component "postshp" %}

        <div class="mt-4 mt-xl-5 text-center">
            <a href="{{ 'aktuality'|page }}" class="btn btn-outline-secondary d-inline-flex align-items-center">
                Další aktuality <span class="mi-arrow-right mi-16 bg-secondary ms-2 transition"></span>
            </a>
        </div>
    </div>
</div>
