url = "/produkty/kategorie/:slug/:page?"
layout = "default"
title = "Kategorie"

[categories subcategories]
page = "kategorie"

[products]
page = "produkt"
categoryPage = "kategorie"

[category]
==
<?php
function onInit() {
    $this["activeMenuItem"] = "produkty";
}
?>
==
{% set items = {
    "produkty": {
        "title" : "Produkty",
        "url"   : "produkty"|page,
    },
} %}

{% for parent in category.parents %}
    {% set items = items|merge({
        (parent.slug): {
            "title" : parent.title,
            "url"   : "kategorie"|page({slug: parent.slug}),
        },
    }) %}
{% endfor %}

{% set items = items|merge({
    (category.slug): {
        "title" : category.title,
        "active": true,
    }
}) %}

{% partial "breadcrumb" items=items %}

<div class="container-fluid pb-5" id="category">
    <div class="container-lg py-xl-4">
        <div class="row g-xl-5">
            <div class="col-12 col-md">
                <h1 class="mb-3 mb-xl-4">
                    {{ category.title }}
                </h1>

                <div class="text col-12 opacity-55 ls-n02 ">
                    {{ category.text|raw }}
                </div>
            </div>

            {% if category.image %}
                <div class="col-12 mt-4 col-md-4 mt-md-0 mt-xl-5">
                    <img src="{{ category.image.thumb(406, 306, {"mode": "crop"}) }}" alt="{{ category.image.description }}" class="img-fluid w-100 rounded-3">
                </div>
            {% endif %}
        </div>

        <div class="border-1 border-top border-tertiary border-opacity-07 mt-32 pt-32" id="subcategories">
            <h2 class="fs-20 ls-n02 mb-4">
                Kategorie
            </h2>

            {% component "subcategories" %}
        </div>

        <div class="mt-5 pt-xl-3">
            {% component "products" %}
        </div>

        <div class="mt-5 pt-xl-4">
            {% partial "advice" %}
        </div>
    </div>
</div>
