url = "/ke-stazeni"
layout = "default"
title = "Ke stažení"

[Files files]
order = "position asc"

[section content]
handle = "Download\Content"
==
<?php
use LZaplata\Files\Models\Category;

function onStart() {
    $categories = Category::all();

    $this["categories"] = $categories;
}
?>
==
{% set items = {
    "download": {
        "title": "Ke stažení",
        "active": true,
    }
} %}

{% partial "breadcrumb" items=items %}

<div class="container-fluid pb-5" id="labs">
    <div class="container-lg py-xl-4">
        <h1 class="mb-4 mb-xl-5 col-xl-10 offset-xl-1">
            {{ this.page.title }}
        </h1>

        <div class="post-content">
            {% for section in content.sections %}
                {% if section.heading %}
                    <h2>
                        {{ section.heading }}
                    </h2>
                {% endif %}

                {{ section.text|raw }}

                {% if section.category %}
                    {% component "files" category=categories.find(section.category).slug %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
