{% set products = __SELF__.products %}

{% if products.count %}
    <div class="products row row-cols-1 gx-4 gy-5 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
        {% set z_index = products.count %}

        {% for product in products %}
            <div class="product col" style="z-index: {{ z_index }};">
                <a href="{{ product.url }}" class="text-decoration-none d-flex flex-column rounded-3 overflow-hidden">
                    {% set image = ["products/", product.stachema_id, ".png"]|join %}

                    {% if file_exists(image) %}
                        <p class="img bg-gray rounded-3 mb-0">
                            <img src="{{ image|media|resize(600, 400, {"mode": "crop"}) }}" alt="{{ product.title }}" class="img-fluid w-100">
                        </p>
                    {% endif %}

                    <div class="title-excerpt mt-n2 pt-2 position-relative">
                        <h2 class="title mb-0 fs-17 ls-n02 text-blue-darker fw-medium mt-3 mb-0">
                            {{ product.title }}
                        </h2>

                        {% if product.excerpt %}
                            <p class="excerpt mb-0 mt-1 fs-13 opacity-65 text-blue-darker">
                                {{ product.excerpt }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="bg-white mt-3 d-flex flex-column fs-13 text-blue-darker px-3 gap-3">
                        {% set pattern = "@(.+?):(.+)@" %}

                        {% if product.packages %}
                            <p class="mb-0 d-flex flex-column w-100 justify-content-between">
                                {% set packages = preg_match(pattern, product.packages) %}

                                <span class="opacity-55">
                                    {{ packages.1 }}:
                                </span>

                                <span class="fw-semibold mt-1">
                                    {{ packages.2 }}
                                </span>
                            </p>
                        {% endif %}

                        {% if product.consumption %}
                            <p class="mb-0 d-flex flex-column w-100 justify-content-between">
                                {% set consumption = preg_match(pattern, product.consumption) %}

                                <span class="opacity-55">
                                    {{ consumption.1 }}:
                                </span>

                                <span class="fw-semibold mt-1">
                                    {{ consumption.2 }}
                                </span>
                            </p>
                        {% endif %}

                        {% if product.key_properties %}
                            <p class="mb-0 d-flex flex-column w-100 justify-content-between">
                                {% set key_properties = preg_match(pattern, product.key_properties) %}

                                <span class="opacity-55">
                                    {{ key_properties.1 }}:
                                </span>

                                <span class="fw-semibold mt-1">
                                    {{ key_properties.2 }}
                                </span>
                            </p>
                        {% endif %}

                        <p class="mt-2 mb-4">
                            <button class="btn btn-gray w-100 d-inline-flex align-items-center justify-content-center">
                                Další

                                <span class="mi-arrow-right mi-16 bg-blue-dark ms-2 transition"></span>
                            </button>
                        </p>
                    </div>
                </a>
            </div>

            {% set z_index = z_index - 1 %}
        {% endfor %}
    </div>
{% endif %}

{% if products.lastPage > 1 %}
    <ul class="pagination mt-5 justify-content-center gap-2 mb-0">
        {% if products.currentPage > 1 %}
            <li class="page-item prev d-inline-flex align-items-center">
                <a href="{{ this.page.baseFileName|page({page: (products.currentPage-1)}) }}" class="page-page-link mi-caret-left mi-16 bg-blue-dark bg-blue-hover transition"></a>
            </li>
        {% endif %}

        {% if posts.currentPage <= 3 %}
            {% set start_page = 1 %}
            {% set end_page = products.lastPage > 5 ? 5 : products.lastPage %}
        {% elseif products.currentPage > 3 and products.currentPage + 4 < products.lastPage %}
            {% set start_page = products.currentPage - 2 %}
            {% set end_page = products.lastPage > products.currentPage + 2 ? products.currentPage + 2 : products.lastPage %}
        {% elseif products.currentPage + 4 >= products.lastPage %}
            {% set start_page = products.lastPage - 4 %}
            {% set end_page = products.lastPage %}
        {% endif %}

        {% for page in start_page..end_page %}
            <li class="page-item">
                <a href="{{ this.page.baseFileName|page({page: page}) }}" class="page-link {{ products.currentPage == page ? 'active' : null }}">
                    {{ page }}
                </a>
            </li>
        {% endfor %}

        {% if products.lastPage > products.currentPage %}
            <li class="page-item next d-inline-flex align-items-center">
                <a href="{{ this.page.baseFileName|page({page: (products.currentPage+1)}) }}" class="page-link mi-caret-right mi-16 bg-blue-dark bg-blue-hover transition"></a>
            </li>
        {% endif %}
    </ul>
{% endif %}
